@use '../../../../../styles/variables';

.globetrotter-admin-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;
    border-top: 1px solid variables.$color-gray-200;
    margin-top: 40px;
    width: 100%;

    span {
        font-family: variables.$font-sans;
        font-size: variables.$font-size-caption-sm;
        font-weight: 500;
        color: variables.$color-gray-500;
        letter-spacing: -0.01em;
    }
}
