@use '@/styles/variables' as variables;

.hero-panel {
    flex: 1;
    background: linear-gradient(
        135deg,
        variables.$color-gray-100 0%,
        variables.$color-gray-50 100%
    );
    border-right: 1px solid variables.$color-gray-200;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;

    .hero-image {
        max-width: 360px;
        max-height: 80%;
        width: auto;
        height: auto;
        object-fit: contain;
        transform: translateY(-45px);
    }
}
